[submodule ".vim/pack/plugins/start/YouCompleteMe"]
	path = .vim/pack/plugins/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
[submodule ".vim/pack/plugins/start/auto-pairs"]
	path = .vim/pack/plugins/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/plugins/start/protobuf"]
	path = .vim/pack/plugins/start/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule ".vim/pack/plugins/start/tabular"]
	path = .vim/pack/plugins/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/pack/plugins/start/tmux-complete.vim.vim"]
	path = .vim/pack/plugins/start/tmux-complete.vim
	url = https://github.com/wellle/tmux-complete.vim.git
[submodule ".vim/pack/plugins/start/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/plugins/start/yaml-vim"]
	path = .vim/pack/plugins/start/yaml-vim
	url = https://github.com/mrk21/yaml-vim.git
